<div class="button">
    <div class="container-xxl-pt-5" style="background-color: #7B68EE">
        <div class="kontakty">
            <ul class="nav justify-content-center">
                <li class="nav1-item">
                    <a class="nav1-link active" aria-current="page" href="https://vk.com/roquefoort">Вконтакте</a>
                </li>
                <li class="nav1-item">
                    <a class="nav1-link" href="https://instagram.com/shuglaitkul?utm_medium=copy_link">Instagram</a>
                </li>
                <li class="nav1-item">
                    <a class="nav1-link" href="https://www.youtube.com/channel/UC8IYz5uE6fjiZfNT7nPdzRg">YouTube</a>
                </li>
                <li class="nav1-item">
                    <a class="nav1-link" href="">Mail</a>
                </li>
            </ul>
        </div>
        <div class="end">
            <br>
            <h6 style="text-align: center; font-family:'Montserrat';"> 2022 © ANIshop - модный интернет-магазин
                аниме одежды и аксессуаров. Все права защищены.</h6>
        </div>
    </div>
</div>
