<div class="top">
    <header class="container pt-5 d-flex justify-content-between">
        <div class="lhs">
            <img class="title__icon" width="100" height="100" src="icons/cat_new.gif" alt=""/>
            <img class="title__icon" width="170" height="90" src="icons/title.png">
        </div>
        <div class="rhs mt-4">
            <a href="/carts"><img class="icons" width="40" height="40" src="icons/cart.png"></a>
            <a class="title__link ms-5" href="/register"><img class="icons ms-5" width="40" height="40" src="icons/user.png"></a>
        </div>
    </header>
</div>

<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
            <div class="container d-flex justify-content-between">
                <div class="wrapper">
                    <a href="/main">
                        <img class="nav-link" src="icons/main.jpeg" width="200" height="96">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/figure">фигурки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manga">манги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pillow">подушки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/futbolka">футболки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bags">рюкзаки</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>