<div class="col-md-4 mt-5">
    <div class="card border-0">
        <img class="card-img-top" id="sui" src="<%= item.image %>" alt="Card image cap" width="240px"
             height="360px">
        <div class="card-body text-center">
            <h5 class="card-title"><%= item.title %></h5>
            <h5 class="card-text " style="color : black"><%= item.price %> тг</h5>
            <a type="button" class="btn btn-success"
               href='/add_to_cart?item_id=<%= item._id %>'
               role="button">
                Add to cart
            </a>
        </div>
    </div>
</div>